schemas/animNode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element: animNode -->
  <xs:element name="animNode" type="AnimNodeType">
    <xs:annotation>
      <xs:documentation>Root element for animation node configuration. Defines a single animation
        state with conditions and events.</xs:documentation>
    </xs:annotation>
  </xs:element>


  <!-- Main animNode type definition -->
  <xs:complexType name="AnimNodeType">

    <!-- Elements -->
    <xs:all>
      <xs:element name="m_Name" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Unique name identifier for this animation node. Example: "LoadRifle", "Reload_Shotgun"</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="m_AnimName" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Name of the animation file/clip to play. Example: "Bob_Reload_Rifle_Load"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>

    <!-- Attributes -->
    <xs:attribute name="x_extends" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Import another relative animNode file into this one. Needs to be the file name so for the following example folder structure: 
          ```
          AnimSets/
              Rifle/
                  LoadRifle.xml
                  LoadRifle_Alt.xml
          ``` 

          The LoadRifle_Alt.xml file can import the LoadRifle.xml file by using:
          ```xml
          <animNode x_extends="LoadRifle.xml"></animNode>
          ```
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>